<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>MSU PGP</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary shadow-sm px-3">
      <a href="/" class="navbar-brand">MSU PGP</a>
      {% block navigation %}
      <form class="form-inline">
        <button
          onclick="window.location.href='/login';"
          type="button"
          class="btn btn-secondary mr-2"
        >
          Log In
        </button>
        <button
          onclick="window.location.href='/signup';"
          type="button"
          class="btn btn-success"
        >
          Sign Up
        </button>
      </form>
      {% endblock %}
    </nav>

    {% block content %}{% endblock %}

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted">
          &copy; Morgan State University, Inc
        </p>
        <p class="nav col-md-4 justify-content-end px-2 text-muted">
          By: Mekeih Nelson, Gareth Nuyit, Darrius Outlaw, Kye Toussant
        </p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
