{% extends "base.html" %} {% block navigation %}
<div class="row align-items-center">
  <div class="col-auto">
    <span class="navbar-text text-light"> {{ username }} </span>
  </div>
  <div class="col-auto">
    <form class="form-inline">
      <button
        onclick="window.location.href='/logout';"
        type="button"
        class="btn btn-danger"
      >
        Log Out
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form method="post" action="/decryption_results/{{ key_id }}">
        <div class="mb-3">
          <label for="text" class="form-label">Enter Text</label>
          <textarea
            class="form-control"
            placeholder="Your Text"
            name="text"
            required
            rows="10"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="key" class="form-label"
            >Select a public key to verify signature</label
          >
          <select class="form-select" name="signature_public_key_id">
            <option value="">None</option>
            {% for entry in user_contact_keys %}
            <option value="{{ entry._id }}">{{ entry.entry_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Decrypt</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
